<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messages</title>
</head>
<body>
    <h1>Your new messages</h1>
    {{your_messages}}
    <hr>

    {% for message in your_messages %}

        <p><strong>{{message.sent_by.username}} says: </strong> ({{message.created_at}})</p>
        <p><pre>{{message.content}}</pre></p>
        <hr>
    {%endfor%}

    <script type="text/javascript">
        var time = 5;

        setInterval(countdown, 1000);

        function countdown(){
            time--;
            if(time ==0){
                window.location="/home";
            }
        }
    </script>
</body>
</html>