<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Message</title>
</head>
<body>
    <form action="/add_message/{{id}}" method="post">
        {% csrf_token %}
        <textarea name="content" placeholder="your message..."></textarea>
        <input type="submit" value="send Message">
    </form>

    {%if messages %}
    <ul>
        {% for message in messages%}
        <li>{{message}}</li>
        {% endfor%}
    </ul>
    {% endif %} 
</body>
</html>