<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Profile</title>
</head>
<body>
    <h1>Profile:</h1>
    {% for user in your_users %}

        <p>Full Name: {{ user.name }} </p>
        Email: {{user.email}}
        Alias: {{user.alias}}
        Date of Birth: {{user.dob}}
        Registered at: {{user.created_at}}

    {% endfor %}
<br>
<br>
    <a href="/home"><Button>Home</Button></a>
    <a href="/"><Button>Logout</Button></a>
</body>
</html>